.welcome-view(ng-show="!appVars.accessToken")
  .hero-unit
    h1 Developer Toolkit
    p
      | This toolkit allows you to generate and understand the code needed
      | for launching the CoreSpring Test Player.
    p
      | To get started add an access token above
      i.icon-hand-up
      | or if you don't have one you can generate one.
.search-and-results(ng-show="appVars.accessToken && !appVars.apiCallFailed")
  .sub-menu(ng-controller="SearchForm")
    form.navbar-search.pull-left
      span(style="padding-left:10px;") Find Items
      input.nudge(
        type="text",
        on-enter="search()",
        ng-model="keyword",
        class="search-query",
        placeholder="Search")

      select.nudge(ui-select2,
        style="width: 200px;",
        ng-model="collectionId",
        data-placeholder="Collection...")
        option(value="")
        option(ng-repeat="c in collections", value="{{c.id}}") {{c.name}}

      i.nudge.icon-search(ng-click="search()")
      span.nudge.label.label-info(ng-show="errorMessage") {{errorMessage}}

    span.search-count.pull-right(ng-show="appVars.searchCount")
      i.icon-reorder
      | {{appVars.searchCount}}

  .search-results(ng-controller="SearchResults")
    .header
      table
        tr
          th.title Title
          th.subject Primary Subject
          th.grade Grade
          th.type Item Type
          th.standard Standard(s)
          th.action Actions
    .item
      table
        tr(ng-repeat="i in appVars.searchItems")
          td.title(ng-bind-html-unsafe="i.title")
          td.subject {{renderPrimarySubject(i.primarySubject)}}
          td.grade {{renderGrade(i.gradeLevel)}}
          td.type {{i.itemType}}
          td.standard
            a(ui-jq="tooltip", ui-options="{title: buildStandardTooltip(i.standards)}") {{buildStandardLabel(i.standards)}}
          td.action
            button.btn-success.btn-small(ng-click="getCode(i)")
              i.icon-code(style="font-weight:bold; margin-right: 2px;")
              | Code
    .error(ng-show="appVars.searchCount == 0") No items found
