extends layout

block head
  link(href="/components/codemirror/lib/codemirror.css", rel="stylesheet")
  link(href="/components/codemirror/theme/elegant.css", rel="stylesheet")
  link(href="/components/corespring-bootstrap-datepicker/css/datepicker.css", rel="stylesheet")
  != css("app")

block content
  .root(ng-app="developer-toolkit", ng-controller="Root")
    include bits/navbar
    .main-content
      .main-view(ng-view)


block scripts
  != js("app")

  //Note: corespring-ng-services requires that you create a service called 'CorespringConfig'
  //That contains one property: url
  script(type="text/javascript")
    angular.module('developer-toolkit')
      .factory('CorespringConfig', [function (){
         return {
           url: "#{corespringUrl}"
         }
    }]);
    angular.module('developer-toolkit')
      .factory('LauncherTemplate', [function (){

         var launchTemplate = "!{jsString(launchTemplate)}";
         return {
           template: function(url,clientId,encrypted,overrides,unencrypted){
              return launchTemplate
                .replace("\#{url}", url)
                .replace("\#{clientId}", clientId)
                .replace("\#{encrypted}", encrypted)
                .replace("\#{overrides}", overrides)
                .replace("\#{unencrypted}", unencrypted)
           }
         }
    }]);
